# #1. Importing librarie, dataframe and creathing pathname shortcut

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
pathname=r'/Users/alejandrocisneros/Desktop/Data Analysis Coursework/Data Immersion/Achievement 4/02-2024 Instacart Basket Analysis'

In [3]:
df=pd.read_pickle(os.path.join(pathname, '2. Data', 'Prepared Data', 'final_instacart.pkl'))

# #2. Courswork

In [4]:
#Creating a crosstab

In [5]:
crosstab = pd.crosstab(df['days_since_last_order'], df['order_number'], dropna = False)

In [6]:
#Copying crosstab to clipboard to paste in Excel spreadsheet
crosstab.to_clipboard()

In [7]:
df

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,...,price_segment,busiest_days,busiest_hours,max_order,loyalty_flag,avg_prod_purchase_price,spender_tier,median_reorder_time,frequency_flag,_merge
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Mid_range product,Busiest day,Average_orders,8,New Customer,7.988889,Low Spender,19.0,Regular Customer,both
1,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Mid_range product,Regularly busy,Most orders,8,New Customer,7.988889,Low Spender,19.0,Regular Customer,both
2,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Mid_range product,Busiest day,Most orders,8,New Customer,7.988889,Low Spender,19.0,Regular Customer,both
3,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Low_range product,Regularly busy,Average_orders,8,New Customer,7.988889,Low Spender,19.0,Regular Customer,both
4,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Low_range product,Least busy,Most orders,8,New Customer,7.988889,Low Spender,19.0,Regular Customer,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30629736,80148,Cynthia,Noble,Female,New York,55,4/1/2020,1,married,57095,...,Low_range product,Regularly busy,Most orders,4,New Customer,3.886667,Low Spender,12.0,Regular Customer,both
30629737,80148,Cynthia,Noble,Female,New York,55,4/1/2020,1,married,57095,...,Low_range product,Regularly busy,Most orders,4,New Customer,3.886667,Low Spender,12.0,Regular Customer,both
30629738,80148,Cynthia,Noble,Female,New York,55,4/1/2020,1,married,57095,...,Low_range product,Regularly busy,Most orders,4,New Customer,3.886667,Low Spender,12.0,Regular Customer,both
30629739,80148,Cynthia,Noble,Female,New York,55,4/1/2020,1,married,57095,...,Low_range product,Regularly busy,Most orders,4,New Customer,3.886667,Low Spender,12.0,Regular Customer,both
30629740,80148,Cynthia,Noble,Female,New York,55,4/1/2020,1,married,57095,...,Mid_range product,Regularly busy,Most orders,4,New Customer,3.886667,Low Spender,12.0,Regular Customer,both